#div{
    background-color: #576f80;;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 225px;
    width: 100%;
}
#top{
    background-color: #576f80;
    position: absolute;
    top: 225px;
    left: 0px;
    height: 60px;
    width: 100%;
}
#pot{
    background-color:rgb(245, 246, 250);
    position: absolute;
    top: 275px;
    left: 0px;
    height: 950px;
    width: 100%;
}
#pop{
    background-color: black;
    position: absolute;
    top: 1150px;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    color: white;
    margin-top: 800px;
}
#a1{
    height: 215px;
    width: 740px;
}
#a2{
    height: 220px;
    width: 221px;
}
#a3{
    height: 220px;
    width: 284px;
}
.a1{
    text-align: center;
    text-decoration: none;
    font-family: Arial;
    margin: 0px 20px 0px 20px;
   float: left;
   color: white;
}
.papa{
    float: left;
    border: 1px solid white ;
    margin: 30px;
}
h1{
    text-align: center;
    text-decoration: none;
    color: rgb(9, 8, 8);
}
.a2{
    height: 300px;
    width: 521px;
}
#top1{
    background-color: rgb(183, 183, 35);
    position: absolute;
    top: 1640px;
    left: 0px;
    height: 60px;
    width: 100%;

}
.a3{
    height: 40px;
    width: 100px;
}
.papa1{
    float: left;
    border: 1px solid black ;
    margin: 11px;
}
#cool{
    background-color: black;
    position: absolute;
    top: 1700px;
    left: 0px;
    height: 40px;
    width: 92%;
    padding: 30px 50px 30px 50px;
    color: white;
}

footer {
    width: 100%;
    padding: 0;
    margin: 0;
}
#menuBurg {
    display: none;
}
label {
    display: none;
}
@media screen and (max-width: 1130px){
    .menubar  {
        display: none;
    }
    label {
        display: initial;
        position: absolute;
        top: 15px;
        right: 30px;
    }
    .menubarresponsive a {
        text-align: left;
        padding: 15px;
    }
    .menubarresponsive {
        display: flex;
        flex-direction: column;
    }
    #menuBurg:checked ~ .menubarresponsive {
        top: -405px;
        right: 0;
        width: 100%;
        height: auto;
        position: absolute;
    }
    #top {
        width: 100%;
        height: 300px;
        top: 40px;
        right: 0;
        left: 0;
        text-align: left;
        background-color: #576f80;
        position: absolute;
    }
}
@media screen and (max-width: 1030px) {
    #div #a1 {
        display: none;
    }
}
@media screen and (max-width: 510px) {
    #div #a2 {
        display: none;
    }
    #pot .papa img{
        width: 400px;
    }
}
@media screen and (max-width: 450px) {
    #pot .papa img{
        width: 250px;
        height: 150px;
    }
}